:root {
    --col1: #333;
    --col2: #E1E1E1;
    --col3: white;
    --col4: black;
    --col5: transparent;
    --col7: #ff0000;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Michroma', sans-serif;
}

/*------------------------HEADER------------------------ */

.monHeader {
    width: 100%;
    z-index: 5;
}

.navigation {
    width: 100%;
    height: auto;
    position: fixed;
    transition: ease-in-out 0.5s;
    z-index: 5;
}

.navigation ul {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
    margin-right: 20px;
}

.navigation ul li {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 25px;
}

/* .lienNav {
    display: inline;
    text-decoration: none;
    color: var(--col2);
    font-size: 20px;
    transition: ease-in-out 0.2s;
}
.lienNav:hover {
    color: var(--col3);
}
.lienNav::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: var(--col3);
    transition: width .2s ease-in-out;
    border-radius: 50px;
}
.lienNav:hover::after {
    width: 100%;
} */

.lienNav {
    font-size: 17px;
    text-decoration: none;
    position: relative;
    color: var(--col3);
    text-shadow: 1px 1px 2px var(--col4);
    transition: ease-in-out .2s;
}

.lienNav:hover {
    color: var(--col3);
    text-shadow: 1px 1px 5px var(--col4);
}

.lienNav::before,
.lienNav::after {
    content: "";
    position: absolute;
    height: 1.5px;
    box-shadow: 0 1px 1px var(--col4);
    background-color: var(--col3);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all .2s ease-in-out;
}

.lienNav::before {
    width: 100%;
    bottom: 0;
}

.lienNav::after {
    width: 60%;
    bottom: -5px;
}

.lienNav:hover::before,
.lienNav:hover::after {
    opacity: 1;
    transform: translate(-50%, 2px);
}

.lienNav::before,
.lienNav:hover::after {
    transition-delay: .1s;
}

.lienNav:hover::before {
    transition-delay: 0s;
}

.iconeMenuBurger {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    transition: linear 0.2s;
    border: 1px solid var(--col3);
}

.iconeMenuBurger:hover {
    cursor: pointer;
}

.ligne1Burger {
    width: 80%;
    height: 10%;
    margin-bottom: 4px;
    transform-origin: left;
    background-color: var(--col2);
    transition: linear 0.1s;
    border-radius: 50px;
    border: solid 1px var(--col4);
}

.ligne2Burger {
    width: 80%;
    height: 10%;
    margin-top: 2px;
    margin-bottom: 3px;
    background-color: var(--col2);
    border-radius: 50px;
    border: solid 1px var(--col4);
}

.ligne3Burger {
    width: 80%;
    height: 10%;
    margin-top: 4px;
    transform-origin: left;
    background-color: var(--col2);
    transition: linear 0.1s;
    border-radius: 50px;
    border: solid 1px var(--col4);
}

.LogoTitre {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-decoration: none;
    color: var(--col3);
}
.logoTitre>p {
    margin-top: 0px;
}

.premLettre {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.logo {
    width: 150px;
    height: 75px;
    margin: 7px;
    margin-right: 20px;
    background-image: url(img/logo-noir.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: linear .3s;
}

.logo:hover {
    background-image: url(img/logo-blanc.jpg) !important;
}

.text {
    margin: 4vh auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    width: 85%;
}

.bgBlack {
    background-color: var(--col4);
}

.bgBlack:hover {
    box-shadow: 0px 0px 10px var(--col3);
}

.btnRecherche {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--col5);
    color: var(--col2);
    border: none;
    padding: 20px;
    transition: ease-in-out .2s;
    border-radius: 10px;
}

#btnRecherche i {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 25px;
    text-shadow: 1px 1px 2px var(--col4);
    transition: ease-in-out .2s;
}

#btnRecherche i:hover {

    text-shadow: 1px 1px 5px var(--col4);
}

#btnRecherche:hover {
    color: var(--col3);
    cursor: pointer;
    transform: scale(1.2);
}

/*Gestion du voileRecherche*/
.navVoileRecherche {
    opacity: 0;
    z-index: -5;
}

.voileRechercheOff {
    display: none;
}

.voileRechercheOn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--col4);
    opacity: 1;
    overflow: hidden;
    z-index: 5;
}

#croixVoileRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligne1CroixVoileRecherche {
    position: absolute;
    top: 8px;
    width: 80%;
    height: 10%;
    margin-bottom: 4px;
    transform-origin: left;
    border-radius: 50px;
    transform-origin: left;
    transform: translate(5px, 0px);
    transform: rotate(45deg);
}

.ligne2CroixVoileRecherche {
    position: absolute;
    bottom: 6px;
    width: 80%;
    height: 10%;
    margin-top: 4px;
    transform-origin: left;
    border-radius: 50px;
    transform-origin: left;
    transform: translate(5px, 0px);
    transform: rotate(-45deg);
}

.ligne1CroixVoileRecherche, .ligne2CroixVoileRecherche {
    background-color: var(--col3);
}

.labelRechercheOff {
    display: none;
}

.labelRechercheOn {
    display: flex;
}

.formRechercheOn {
    margin-top: 45vh;
    margin-left: 120px;
    width: 80%;
    background: var(--col4);
    padding: 25px;
    overflow: hidden;
}

.formRechercheOn .divInputRecherche {
    position: relative;
    height: 40px;
    width: 100%;
}

.formRechercheOn .divInputRecherche input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 25px;
    background: var(--col4);
    color: var(--col2);
    border-bottom: 2px solid var(--col2);
    outline: none;
}

.formRechercheOn .divInputRecherche label {
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: var(--col2);
    font-size: 20px;
    pointer-events: none;
    transition: all 0.5s ease;
}

.divInputRecherche input:focus~label,
.divInputRecherche input:valid~label {
    transform: translateY(-30px);
    color: var(--col7);
    font-size: 12px;
}

.formRechercheOn .divInputRecherche .underline {
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 102%;
}

.divInputRecherche .underline:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--col7);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.divInputRecherche input:focus~.underline:before,
.divInputRecherche input:valid~.underline:before {
    transform: scaleX(1);
}

.formRechercheOff {
    display: none;
}

.inputRechercheOff {
    display: none;
}

/*Fin gestion voile */

/*Gestion du voileBurger*/

.voileBurgerOff {
    display: none;
}

.voileBurgerOn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--col4);
    opacity: 1;
    overflow: hidden;
    z-index: 5;
}

.navVoileBurger {
    opacity: 0;
    z-index: -5;
}

#croixVoileBurger .ligne1Burger {
    position: absolute;
    top: 9px;
    width: 80%;
    height: 10%;
    margin-bottom: 4px;
    transform-origin: left;
    border-radius: 50px;
    transform-origin: left;
    transform: translate(1.5px, 0px);
    transform: rotate(45deg);
}

#croixVoileBurger .ligne2Burger {
    display: none;
}

#croixVoileBurger .ligne3Burger {
    position: absolute;
    bottom: 6px;
    width: 80%;
    height: 10%;
    margin-top: 4px;
    transform-origin: left;
    border-radius: 50px;
    transform-origin: left;
    transform: translate(1.5px, 0px);
    transform: rotate(-45deg);
}

.navPhone {
    margin: 0 auto;
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -20;
    overflow-y: scroll;
}

.navPhone :nth-child(1) {
    border-top: solid 1px var(--col2);
}

.navPhone :nth-child(1), .navPhone :nth-child(2), .navPhone :nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22%;
    border-bottom: 1px solid var(--col2);
    text-decoration: none;
    color: var(--col3);
    font-size: 30px;
}

.navPhone :nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22%;
    border-bottom: 1px solid var(--col2);
    text-decoration: none;
    color: var(--col3);
    font-size: 30px;
}

/*Fin Gestion du voile*/

@media screen and (min-width:1850px) {
    .formRechercheOn {
        margin-left: 200px;
    }
}

@media screen and (max-width:1500px) {
    .formRechercheOn {
        margin-left: 100px;
    }
}

@media screen and (max-width:1200px) {
    .formRechercheOn {
        margin-left: 70px;
    }
}

@media screen and (max-width:900px) {
    .formRechercheOn {
        margin-left: 50px;
    }
}

@media screen and (max-width:650px) {
    .formRechercheOn {
        margin-left: 30px;
        width: 90%;
    }
}

@media screen and (max-width:540px) {
    .formRechercheOn {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width:1010px) {
    .LogoTitre p {
        display: none;
    }

    .logo {
        background-image: url(img/logo-blanc-text2.jpg);
    }

    .navigation ul {
        margin-right: 10px;
    }
}

@media screen and (max-width:767px) {
    .navigation {
        height: 80px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .iconeMenuBurger {
        display: flex;
        padding: 2px;
        margin-left: 10px;
        margin-right: 5px;
    }

    .navigation ul li {
        display: none;
    }

    .LogoTitre {
        position: relative;
    }

    .logo {
        width: 112.5px;
        height: 56.25px;
        margin: 0;
    }
}

/*-------------------------FIN HEADER-------------------------- */

/* Commentaire test 1*/

.monCarousel {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    display: none;
}
.carousel-indicators {
    display: none;
}
@media screen and (max-width:1400px) {
    .monCarousel {
        height: 80vh;
    }
}
@media screen and (max-width:1280px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: block;
    }
}
@media screen and (max-width:1150px) {
    .monCarousel {
        height: 60vh;
    }
}
@media screen and (max-width:850px) {
    .monCarousel {
        height: 40vh;
    }
    .carousel-caption>h1 {
        font-size: 20px;
    }
    .carousel-caption>h4 {
        font-size: 15px;
    }
}
@media screen and (max-width:767px) {
    .carousel-indicators {
        display: flex;
    }
}
@media screen and (max-width:573px) {
    .monCarousel {
        height: 35vh;
    }
}
@media screen and (max-width:300px) {
    .monCarousel {
        height: 30vh;
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption>h1, .carousel-caption>h4 {
    text-shadow: 0px 0px 5px black;
}

.carousel-control-prev, .carousel-control-next {
    width: 50%;
    height: 100%;
}

.carousel-control-next-icon {
    position: absolute;
    right: 40px;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 40px;
}

@media screen and (maxwidth: 1010px) {
    .monCarousel {
        height: 50vh !important;
    }
}


/* -------------------------CARDS----------------------------- */


body {
    width: 100%;
    height: 100vh;
    background-color: var(--col2);
}

.tousProjets {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--col3);
    margin-top: 10px;
}

.card {
    margin-top: 50px;
    position: relative;
    width: 450px;
    height: 520px;
    margin: 20px;
    background-color: var(--col8);
    border: none;
}

.divImg {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 2px;
    transition: ease-in-out 0.2s;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 5px 5px 16px #c4c4c4,
        -5px -5px 16px #ffffff;
    /* background-image: url(/img/img-test-archi.jpg);
    background-size: cover;
    background-position: center; */
}

@media screen and (min-width:2337px) {
    .card {
        width: 700px !important;
        height: 800px !important;
    }
    .divImg {
        height: 700px !important;
    }
}

@media screen and (min-width:2060px) {
    .card {
        width: 600px;
        height: 700px;
    }
    .divImg {
        height: 600px;
    }
}

@media screen and (max-width:1550px) {
    .card {
        width: 400px;
        height: 500px;
    }
    .divImg {
        height: 400px;
    }
}
@media screen and (max-width:1400px) {
    .card {
        width: 350px;
        height: 410px;
    }
    .divImg {
        height: 350px;
    }
}
@media screen and (max-width:1200px) {
    .card {
        width: 280px;
        height: 350px;
    }
    .divImg {
        height: 280px;
    }
}
@media screen and (max-width:350px) {
    .card {
        width: 200px;
        height: 270px;
    }
    .divImg {
        height: 200px;
    }
}

.imgHover {
    /* opacity: 0.5; */
    filter: grayscale(1);
}

.lienCard {
    text-decoration: none;
    color: var(--col1);
    transition: linear .2s;
}

.lienCard:hover {
    color: var(--col4);
    transform: scale(1.02);
    text-shadow: 0 0 0.5px;
}

.imgCard {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease-in-out .5s;
}

.imgCard:hover {
    transform: scale(1.1);
}

.divInfos {
    background-color: var(--col8);
    width: 100%;
    height: 50px;
}

.divHrCard {
    position: relative;
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
}

.hrCard {
    position: absolute;
    width: 5%;
    height: 1px;
    border: 1px solid var(--col4);
    background-color: var(--col4);
    opacity: 1;
}

.infos {
    position: relative;
    width: 100%;
    height: 70%;
    bottom: 0;
}

.titreCard {
    font-weight: bold;
}

/* -------------------------A Propos Accueil----------------------------- */

.aPropos {
    margin: 0 auto;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: col3;
    margin-top: 10px;
}

.imageEquipe {
    height: 80vh;
    width: 50%;
    background-image: url(/img/imgEquipe.jpg);
    background-size: cover;
    background-position: center;
}

.equipe {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 18px;
    list-style-type: square;
}

@media screen and (max-width:1600px) {
    .imageEquipe {
        height: 60vh;
    }
    .equipe {
        font-size: 14px;
    }
}
@media screen and (max-width:1250px) {
    .imageEquipe {
        height: 40vh;
    }
    .equipe {
        font-size: 10px;
    }
}
@media screen and (max-width:1023px) {
    .aPropos {
        flex-wrap: wrap;
    }
    .imageEquipe {
        width: 100%;
        height: 50vh;
    }
    .equipe {
        width: 90%;
        font-size: 20px;
        padding: 50px;
    }
}
@media screen and (max-width:574px) {
    .aPropos {
        flex-wrap: wrap;
    }
    .imageEquipe {
        width: 100%;
        height: 35vh;
    }
    .equipe {
        width: 90%;
        font-size: 10px;
        padding: 50px;
    }
}
@media screen and (max-width:400px) {
    .imageEquipe {
        height: 25vh;
    }
}

/* -------------------------Actualités accueil----------------------------- */

.sectionActu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--col3);
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 10px;
}

.sectionActu h2 {
    margin-top: 30px;
}

.accueilActu {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/* -------------------------Footer----------------------------- */

footer {
    margin-bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    background-color: var(--col3);
    margin-top: 10px;
    font-size: 15px;
}
.contact, .accesRapide, .dev {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 15px;
}
.accesRapide a {
    display: inline;
    color: var(--col4);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}
.accesRapide a:hover {
    color: var(--col4);
}
.accesRapide a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: var(--col4);
    transition: width .2s ease-in-out;
    border-radius: 50px;
}
.accesRapide a:hover::after {
    width: 100%;
}

@media screen and (max-width:820px) {
    .contact, .accesRapide, .dev {
        line-height: 15px;
    }
    footer {
        height: 280px;
        font-size: 14px;
    }
}
@media screen and (max-width:767px) {
    .contact, .accesRapide, .dev {
        line-height: 10px;
    }
    footer {
        height: 250px;
        font-size: 14px;
    }
}
@media screen and (max-width:573px) {
    footer {
        font-size: 7px;
    }
    footer h3 {
        font-size: 10px;
        font-weight: bold;
    }
    .contact, .accesRapide, .dev {
        line-height: 7px;
    }
}