:root {
    --col1 : #333;
    --col2: #F1F1F1;
    --col3: white;
    --col4: black;
    --col5: transparent;
}

body {
    margin: 0;
    padding: 0;
}

*{
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    width: 100%;
    transition: ease-in-out .5s;
}

nav ul {
    padding: 0;
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--col3);
    font-size: 20px;
}

.LogoTitre {
    display: flex;
    align-items: center;
    position: fixed;
    text-decoration: none;
    color: var(--col3);
    font-size: 20px;
}

.logo {
    width: 100px;
    height: 50px;
    margin: 20px;
    background-image: url(./img/Mon\ logo\ A&M-blanc-crème-rectangulaire-sans-txt.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    margin: 4vh auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    width: 85%;
}

.bgBlack {
    background-color: var(--col4);
}

/* Commentaire test 1*/